<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link th:href="@{/css/login-register.css}" rel="stylesheet">
	<title>Login</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap" rel="stylesheet">
</head>
<body>
<div class="principal-box">
	<div id="title">Login</div>

	<div class="google-login">
		<a href="oauth2/authorization/google">login with google</a>
	</div>

	<form th:action="@{/login}" method="post">
		<div class="u-form-group">
			<input name="username" type="text" required placeholder="Username"/>
		</div>
		<div class="u-form-group">
			<input name="password" type="password" required placeholder="Password"/>
		</div>
		<div class="u-form-group">
			<button type="submit">Log in</button>
		</div>
		<div class="u-form-group">
			<span class="not-registered">Not registered?</span>
			<a th:href="@{/register}" class="register">Create an account</a>
		</div>
	</form>
</div>
</body>
</html>
