<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/admin-base.html :: headerfiles(title=#{delete}, css='/css/admin/admin.css')"></head>
<body>
<header th:replace="fragments/admin-base.html :: header(#{delete})"></header>
<div th:text="#{delete.confirm} + ' [' + ${room.name} +']?'">Sure delete</div>
<form th:action="@{'/admin/room/delete/' + ${room.id}}" method="post">
    <button type="submit" class="button2" th:text="#{confirm}">Delete</button>
</form>
</body>
</html>