<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/admin-base.html :: headerfiles(title=#{course.add}, css='/css/admin/admin.css')"></head>
<body>
<header th:replace="fragments/admin-base.html :: header(#{course.add})"></header>
<form class="form" th:action="@{/admin/course/add}" method="POST" th:object="${course}" enctype="multipart/form-data">
    <div>
        <div th:text="#{infos}">infos</div>
        <input class="form-input" spellcheck="false" type="text" th:field="*{name}" placeholder="Name" required />
        <input class="form-input" spellcheck="false" type="number" th:field="*{maxSubscriptions}" placeholder="Max number of participants" required />
        <textarea class="form-textarea" spellcheck="false" type="text" th:field="*{description}" placeholder="Description" required />
    </div>

    <div class="radio">
        <div th:text="#{trainer.choose}">Choose trainer</div>
        <div class="radio-element" th:each="trainer : ${trainers}">
            <input th:id="${trainer.id}" type="radio" name="trainer" th:value="${trainer.id}" required>
            <label th:for="${trainer.id}"></label>
            <span th:text="${trainer.name}+ ' ' +${trainer.surname}"></span>
        </div>
    </div>

    <div class="radio">
        <div th:text="#{training.choose}">Choose training</div>
        <div class="radio-element" th:each="training : ${trainings}">
            <input th:id="${training.id}" type="radio" name="training" th:value="${training.id}" required>
            <label th:for="${training.id}"></label>
            <span th:text="${training.name}"></span>
        </div>
    </div>

    <label for="room" th:text="#{room.choose}">Choose room:</label>
    <ion-icon class="arrow" name="chevron-down-outline"></ion-icon>
    <select name="room" id="room">
        <option th:each="room : ${rooms}" th:value="${room.id}" th:text="${room.name}">room</option>
    </select>

    <span th:text="#{photo.choose}">Choose photo:</span>
    <div>
        <button class="file_upload" type="button">
            <span class="btn_lbl"> <ion-icon class="cloud" name="cloud-upload-outline"></ion-icon> Browse</span>
            <span class="btn_color-layer"></span>
            <input type="file" id="file_upload" name="image" accept="image/jpeg, image/png" />
        </button>
    </div>

    <div>
        <button class="button2" type="submit" th:text="#{add}">Add</button>
    </div>
</form>
</body>
</html>
