<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/admin-base.html :: headerfiles(title=#{course.list}, css='/css/admin/admin.css')"></head>
<body>
<header th:replace="fragments/admin-base.html :: header(#{course.list})"></header>
<div class="list-element" th:each="course : ${courses}">
    <div th:text="${course.name}">Ginnastica</div>
    <div class="buttons">
        <a class="button" th:href="@{'/admin/course/modify/' + ${course.id}}" th:text="#{modify}">modify</a>
        <a class="button" th:href="@{'/admin/course/delete/' + ${course.id}}" th:text="#{delete}">delete</a>
    </div>
</div>
</body>
</html>