body{
    font-size: 1.5rem;
    color: #3b3b3b;
    background-image: url("/images/background.png");
}

.main-bd {
    margin: 5% auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
}

.bold{
    font-weight: bold;
}

.left-side {
    width: 30vw;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 9px 25px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
}

.left-side img{
    width:100%;
    height: auto;
}


h2{
    font-size: 2rem;
}

.wrapper{
    margin: 0 auto;
    padding: 10%;
    max-width: 800px;
}
.table{
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    display: table;
}

.row {
    display: table-row;
    background: #f6f6f6;
}
.row .header{
    color: #ffffff;
    background-color: forestgreen;
}

.cell{
    padding: 6px 12px;
    display: table-cell;
}

button{
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #dddddd;
    background-color: forestgreen;
}

.btn-form{
    margin-top: 4%;
}

button:hover, button:checked{
    background-color: #dddddd;
    color: #333333;
}

.box-parent{
    margin: 4%;
    display: flex;
    justify-content: center;
}

.box{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 9px 25px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;

}


@media(max-width: 580px){

    .table {
        display: block;
    }

    .row{
        padding: 2% 0 1%;
        display: block;
    }

    .row .header{
        padding: 0;
    }

    .cell{
        display: none;
        margin-bottom: 10px;
    }

    .cell:before{
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block;
    }
}
