<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/admin-base.html :: headerfiles(title=#{training.add}, css='/css/admin/admin.css')"></head>
<body>
<header th:replace="fragments/admin-base.html :: header(#{training.add})"></header>
<form class="form" th:action="@{'/admin/training/modify/' + ${training.id}}" method="POST" th:object="${training}">
    <div class="flex space-between">
        <input class="form-input" spellcheck="false" type="text" th:field="*{name}" placeholder="Name" required />
        <button class="button2" type="submit" th:text="#{confirm}">confirm</button>
    </div>
</form>
</body>
</html>
