<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/admin-base.html :: headerfiles(title='Admin Home', css='/css/admin/home.css')">
</head>
<body>
<header th:replace="fragments/admin-base.html :: header('prova')"></header>
<div class="cards">
    <div class="card">
        <ion-icon class="card-image" name="happy-outline"></ion-icon>
        <a class="button" th:href="@{/admin/trainer/list}" th:text="#{trainer.list}">Trainer List</a>
        <a class="button" th:href="@{/admin/trainer/add}" th:text="#{trainer.add}">Add Trainer</a>
    </div>

    <div class="card">
        <ion-icon class="card-image" name="barbell-outline"></ion-icon>
        <a class="button" th:href="@{/admin/course/list}" >Courses</a>
        <a class="button" th:href="@{/admin/course/add}" >Add</a>
    </div>

    <div class="card">
        <ion-icon class="card-image" name="analytics-outline"></ion-icon>
        <a class="button" th:href="@{/admin/course/list}" >Training Types</a>
        <a class="button" th:href="@{/admin/course/add}" >Add</a>
    </div>

</div>
</body>
</html>