<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/admin-base.html :: headerfiles(title=#{title.trainer.add}, css='/css/admin/admin.css')"></head>
<body>
<header th:replace="fragments/admin-base.html :: header(#{header.trainer.add})"></header>
<form class="form" th:action="@{/admin/trainer/add}" method="POST" th:object="${trainer}" enctype="multipart/form-data">
    <div class="flex">
        <input class="form-input" spellcheck="false" type="text" th:field="*{name}" placeholder="Name" required />
        <input class="form-input" spellcheck="false" type="text" th:field="*{surname}" placeholder="Surname" required />
    </div>
    <div>
        <textarea class="form-textarea" spellcheck="false" type="text" th:field="*{description}" placeholder="Description" required />
    </div>

    Choose photo:
    <div>
        <button class="file_upload" type="button">
            <span class="btn_lbl"> <ion-icon class="cloud" name="cloud-upload-outline"></ion-icon> Browse</span>
            <span class="btn_color-layer"></span>
            <input type="file" id="file_upload" name="image" accept="image/jpeg, image/png" />
        </button>
    </div>

    <div>
        <button class="button2" type="submit" th:text="#{trainer.add}">Add Trainer</button>
    </div>
</form>
</body>
</html>
