/* FORM INPUT */
.form-input, .form-textarea {
    margin: 0.3rem;
    font-size: .7rem;
    border: none;
    border-radius: .5rem;
    padding-left: .5rem;
    box-shadow: inset .2rem .2rem .5rem #c8d0e7, inset -.2rem -.2rem .5rem white;
    background: none;
    font-family: inherit;
    color: #9baacf;
    overflow-y: hidden;
    resize: none;
}

.form-input::placeholder, .form-textarea::placeholder {
    color: #bec8e4;
}

.form-input:focus, .form-textarea:focus {
    outline: none;
    box-shadow: .3rem .3rem .6rem #c8d0e7, -.2rem -.2rem .5rem white;
}

.form-input {
    width: 7rem;
    height: 1.5rem;
}

.form-textarea {
    width: 93%;
    height: 4rem;
}

/* SEARCH */
.search {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    width: 10rem;
    height: 2rem;
    border: none;
    border-radius: .8rem;
    font-size: 1rem;
    padding-left: 3rem;
    box-shadow: inset .2rem .2rem .5rem #c8d0e7,
    inset -.2rem -.2rem .5rem white;
    background: none;
    font-family: inherit;
    color: #9baacf;
}

.search-input::placeholder { color: #bec8e4; }

.search-input:focus {
    outline: none;
    box-shadow: .3rem .3rem .6rem #c8d0e7,
    -.2rem -.2rem .5rem white;
}
.search-input:focus + .search-icon { color: #6d5dfc; }

.search-icon {
    height: 1.2rem;
    position: absolute;
    font-size: 1.2rem;
    padding: 0 1rem;
    display: flex;
    color: #9baacf;
    transition: .3s ease;
}





.form {
    margin: auto;
    width: 15rem;
    justify-content: space-between;
    border: 0.1rem solid #5b0eeb;
    padding: 0.6rem 0.6rem 0.3rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
}

/*  RADIO  */
.radio {
    justify-items: center;
}

.radio-element {
& input:checked {
& ~ label {
      box-shadow: $inner-shadow;
&::after {
     background: var(--primary);}
}
}
label {
    box-shadow: $shadow;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
&:hover {&::after{background: var(--primary);}}

&::after {
     content: "";
     position: absolute;
     width: 1.4rem;
     height: 1.4rem;
     background: var(--greyDark);
     border-radius: 50%;
     transition: 0.3s ease;
 }
}
}
}