:root { --main-color: forestgreen; }

html {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    background: #E4EBF5;
    color: #9baacf;
}

.nav-bar {
    border-bottom: 0.2rem solid var(--main-color);
    padding-bottom: 0.2rem;
    height: 2rem;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

/* BUTTONS */
.button, .button2, .logout{
    width: fit-content;
    margin: 0.3rem;
    border-radius: 0.8rem;
    justify-self: center;
    display: flex;
    align-items: center;
    transition: .3s ease;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-shadow: .2rem .2rem .5rem #c8d0e7, -.2rem -.2rem .5rem #FFFFFF;
}

.button {
    background-color: inherit;
    color: #9baacf;
}

.button:hover { color: var(--main-color); }

.button:active { box-shadow: inset .2rem .2rem .5rem #c8d0e7, inset -.2rem -.2rem .5rem #FFFFFF; }

.button2 {
    height: 1.5rem;
    border: none;
    background: var(--main-color);
    box-shadow: inset .1rem .1rem .5rem lightgreen, inset -.1rem -.1rem .5rem var(--main-color),
    .1rem .1rem .2rem #c8d0e7, -.1rem -.1rem .2rem white;
    color: #E4EBF5;
}

.button2:hover { color: white; }

.button2:active { box-shadow:inset .2rem .2rem 1rem var(--main-color), inset -.2rem -.2rem 1rem lightgreen; }

.home {
    font-size: 1.3rem;
    color: var(--main-color);
    transition: .3s ease;
}

.home:active { color: darkgreen; }