html {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    background: #E4EBF5;
    color: #9baacf;
}

.nav-bar {
    border-bottom: 0.1rem solid #6d5dfc;
    padding-bottom: 0.2rem;
    height: 2rem;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

/* BUTTONS */
.button, .button2 {
    width: fit-content;
    margin: 0.3rem;
    border-radius: 0.8rem;
    justify-self: center;
    display: flex;
    align-items: center;
    transition: .3s ease;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-shadow: .2rem .2rem .5rem #c8d0e7, -.2rem -.2rem .5rem #FFFFFF;
}

.button {
    background-color: inherit;
    color: #9baacf;
}

.button:hover { color: #6d5dfc; }

.button:active { box-shadow: inset .2rem .2rem .5rem #c8d0e7, inset -.2rem -.2rem .5rem #FFFFFF; }

.button2 {
    border: none;
    background: #5b0eeb;
    box-shadow: inset .1rem .1rem .5rem #8abdff, inset -.1rem -.1rem .5rem #5b0eeb,
    .1rem .1rem .2rem #c8d0e7, -.1rem -.1rem .2rem white;
    color: #E4EBF5;
}

.button2:hover { color: white; }

.button2:active {
    box-shadow:inset .2rem .2rem 1rem #5b0eeb,
    inset -.2rem -.2rem 1rem #8abdff;
}

.home {
    color: #6d5dfc;
    transition: .3s ease;
}

.home:active {
    color: #461fa1;
}