.flex-container {
    display: flex;
    justify-content: space-around;
}

.form-element {
    align-items: center;
    display: flex;
    margin-bottom: 0.3rem;
}

.form-span {
    width: 7rem;
    font-weight: 500;
}

.list-element {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.name {
    justify-content: center;
    width: 12rem;
}

@media screen and (max-width: 34rem) {
    html { font-size: 18px; }

    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .list { padding-top: 0.5rem; }
}