<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
        th:replace="fragments/base.html :: headerfiles(title='eFitness-studio', css='/css/user/list.css')">
</head>
<body>
<header th:replace="fragments/base.html :: intestazione"></header>
<div th:if="${courses}">
    <h1 class="title">Our Courses</h1>
    <div class="cards">
        <div th:each="course : ${courses}" class="card">
            <img class="card-image" th:src="${course.photo}">
            <h3 th:text="${course.name}">nome</h3>
            <a th:href="@{'/user/course/' + ${course.id}}" class="button">read more</a>
        </div>
    </div>
</div>
<div th:unless="${courses}">
    <h1 class="title">Sorry, there are currently no trainers :( </h1>
</div>

<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>