<!DOCTYPE html>
<html xmlns:th="hhttp://www.thymeleaf.org">
<head
        th:replace="fragments/base.html :: headerfiles(title='Course Details', css='/css/user/detail.css')">
</head>
<body>
<header th:replace="fragments/base.html :: intestazione"></header>
<section class="detail">
<div class="singleton">
    <img src="'/images/course/' + ${course.photo}" onerror="this.onerror=null; this.src='/images/defaultCourse.jpg'" alt="">
    <div class="info">
        <h1 th:text="${course.name}">Paolo Rossi</h1>
        <p th:text="${course.description}">
            Description
        </p>
        <p th:text="#{course.detail.trainingType}"> </p> <a th:text="${course.trainingType.name}">cardio</a>
        </p>
        <p th:text="#{course.detail.room}"></p> <a th:text="${course.room.name}" th:href="@{'/user/room/' + ${course.room.id}}">room 1 </a>
        </p>
        <p th:text="#{course.detail.trainer}"></p>  <a th:text="${course.personalTrainer.name} + ' ' +  ${course.personalTrainer.surname}" th:href="@{'/user/room/' + ${course.room.id}}"> </a>
    </div>
</div>
</section>
<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>