<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
        th:replace="fragments/base.html :: headerfiles(title='eFitness-studio', css='/css/user/list.css')">
</head>
<body>
<header th:replace="fragments/base.html :: intestazione"></header>
<div th:if="${rooms}">
    <h1 class="title">Our Rooms</h1>
    <div class="cards">
        <div th:each="room : ${rooms}" class="card">
            <img class="card-image" th:src="'/images/room/' + ${room.name}+ '/' +${room.photo}">
            <h3 th:text="${room.name}">nome</h3>
            <a th:href="@{'/user/room/' + ${room.id}}" class="button">read more</a>
        </div>
    </div>
</div>
<div th:unless="${rooms}">
    <h1 class="title">Sorry, there are currently no rooms :( </h1>
</div>

<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>